# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение
venv/
.env/
.env

# Системные файлы
.DS_Store
Thumbs.db

# IDE / редакторы
.vscode/
.idea/

# Логи
*.log

# Файлы данных (если не хочешь заливать)
data.json

# Jupyter (если вдруг используешь)
.ipynb_checkpoints/

# PyInstaller
build/
dist/
*.spec
